appnope==0.1.0
backports.shutil-get-terminal-size==1.0.0
certifi==2019.3.9
chardet==3.0.4
decorator==4.3.2
Django==1.11.20
django-filter==2.0.0
djangorestframework==3.9.2
enum34==1.1.6
idna==2.8
ipdb==0.11
ipython==5.8.0
ipython-genutils==0.2.0
Markdown==3.0.1
mysql-connector-python==8.0.15
mysqlclient==1.4.2.post1
oauthlib==3.0.1
pathlib2==2.3.3
pexpect==4.6.0
pickleshare==0.7.5
prompt-toolkit==1.0.15
protobuf==3.7.0
ptyprocess==0.6.0
Pygments==2.3.1
PyJWT==1.7.1
python-openid==2.2.5
pytz==2018.9
requests==2.21.0
requests-oauthlib==1.2.0
scandir==1.9.0
simplegeneric==0.8.1
six==1.12.0
social-auth-app-django==3.1.0
social-auth-core==3.1.0
traitlets==4.3.2
urllib3==1.24.1
wcwidth==0.1.7
